.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

.nav {
    padding: 1em 3em 1em 0;
    display: flex;
    align-items: center;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 1em 0;
    list-style: none;
}

.nav ul li {
    padding: 0 1em;
}

.nav-toggle {
    color: $text;
}

.nav-toggle {
    display: none;
}

@media (max-width: 767px) {
    .header {
        flex-direction: column;
    }

    .nav{
        border-top: 2px solid $text;
        border-bottom: 2px solid $text;
        display: none;
        padding: 0;
        margin: 0;
        justify-content: center;
        background-color: $primary;
    }

    .nav ul {
        flex-direction: column;
        padding-bottom: 1em;
    }

    .nav ul li {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .nav ul li a {
        display: block;
        padding: 0.5em 0;
    }

    .js .nav-toggle {
        display: flex;
        align-items: center;
        float: right;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
    }
}